<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}InsightHub{% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'core:home' %}">InsightHub</a>
            <a href="{% url 'catalogue:topic-list' %}">Topics</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {%  now "Y" %} InsightHub</p>
    </footer>
</body>
</html>